Repository hashicorp/web-unified-docs, pull requests merged in 2025-10, with the labels that each got.

#1021 content/terraform: fix missing codeblock closure
  content/terraform/v1.12.x/docs/language/block/module.mdx
  content/terraform/v1.13.x/docs/language/block/module.mdx
  content/terraform/v1.14.x (beta)/docs/language/block/module.mdx
Labels: Terraform CE

#1029 Clean up Stack duplications
  content/terraform/v1.13.x/docs/language/stacks/design.mdx
  content/terraform/v1.13.x/docs/language/stacks/use-cases.mdx
  content/terraform/v1.14.x (beta)/docs/language/block/stack/tfcomponent/component.mdx
  content/terraform/v1.14.x (beta)/docs/language/block/stack/tfcomponent/index.mdx
  content/terraform/v1.14.x (beta)/docs/language/block/stack/tfcomponent/output.mdx
  content/terraform/v1.14.x (beta)/docs/language/block/stack/tfcomponent/provider.mdx
  content/terraform/v1.14.x (beta)/docs/language/block/stack/tfcomponent/removed.mdx
  content/terraform/v1.14.x (beta)/docs/language/block/stack/tfcomponent/required_providers.mdx
  content/terraform/v1.14.x (beta)/docs/language/block/stack/tfcomponent/variable.mdx
  content/terraform/v1.14.x (beta)/docs/language/block/stack/tfdeploy/deployment.mdx
  content/terraform/v1.14.x (beta)/docs/language/block/stack/tfdeploy/deployment_auto_approve.mdx
  content/terraform/v1.14.x (beta)/docs/language/block/stack/tfdeploy/deployment_group.mdx
  content/terraform/v1.14.x (beta)/docs/language/block/stack/tfdeploy/identity_token.mdx
  content/terraform/v1.14.x (beta)/docs/language/block/stack/tfdeploy/index.mdx
  content/terraform/v1.14.x (beta)/docs/language/block/stack/tfdeploy/publish_output.mdx
  content/terraform/v1.14.x (beta)/docs/language/block/stack/tfdeploy/store.mdx
  content/terraform/v1.14.x (beta)/docs/language/block/stack/tfdeploy/upstream_input.mdx
  content/terraform/v1.14.x (beta)/docs/language/stacks/design.mdx
  content/terraform/v1.14.x (beta)/docs/language/stacks/use-cases.mdx
Labels: Terraform CE

#1033 update mono repo publishing docs for ga
  content/terraform-docs-common/docs/cloud-docs/registry/publish-modules.mdx
Labels: HCP Terraform

#1049 Update partnerships.mdx
  content/terraform-docs-common/docs/docs/partnerships.mdx
  content/terraform-docs-common/img/docs/terraform-run-phases.png
Labels: HCP Terraform

#1051 Replace with better terraform-run-phases img
  content/terraform-docs-common/img/docs/terraform-run-phases.png
Labels: HCP Terraform

#1047 adding docs updates for address_type changes
  content/vault/v1.18.x/content/docs/configuration/storage/raft.mdx
  content/vault/v1.19.x/content/docs/configuration/storage/raft.mdx
  content/vault/v1.20.x/content/docs/configuration/storage/raft.mdx
Labels: Vault

#1061 Fix stacks use case link
  content/terraform/v1.13.x/docs/language/stacks/index.mdx
  content/terraform/v1.14.x (beta)/docs/language/stacks/index.mdx
Labels: Terraform CE

#1060 Add diagrams for WAF IAM
  content/well-architected-framework/docs/docs/secure-systems/identity-access-management/centralize-identity-management.mdx
  content/well-architected-framework/docs/docs/secure-systems/identity-access-management/create-permissions-guardrails.mdx
  content/well-architected-framework/docs/docs/secure-systems/identity-access-management/define-access-requirements.mdx
  content/well-architected-framework/docs/docs/secure-systems/identity-access-management/grant-least-privilege.mdx
  content/well-architected-framework/docs/docs/secure-systems/identity-access-management/manage-access-lifecycle.mdx
  content/well-architected-framework/img/well-architected-framework/diagram-iam-centralized-dark.png
  content/well-architected-framework/img/well-architected-framework/diagram-iam-centralized.png
  content/well-architected-framework/img/well-architected-framework/diagram-iam-define-acccess-dark.png
  content/well-architected-framework/img/well-architected-framework/diagram-iam-define-acccess.png
  content/well-architected-framework/img/well-architected-framework/diagram-iam-guardrails-dark.png
  content/well-architected-framework/img/well-architected-framework/diagram-iam-guardrails.png
  content/well-architected-framework/img/well-architected-framework/diagram-iam-least-priv-vault-dark.png
  content/well-architected-framework/img/well-architected-framework/diagram-iam-least-priv-vault.png
  content/well-architected-framework/img/well-architected-framework/diagram-iam-lifecycle-dark.png
  content/well-architected-framework/img/well-architected-framework/diagram-iam-lifecycle.png
Labels: WAF

#1066 Remove user from team API update documentation
  content/terraform-docs-common/docs/cloud-docs/api-docs/team-members.mdx
Labels: HCP Terraform

#1006 Add SPIFFE auth plugin docs
  content/vault/v1.21.x (rc)/content/api-docs/auth/spiffe.mdx
  content/vault/v1.21.x (rc)/content/docs/auth/spiffe.mdx
  content/vault/v1.21.x (rc)/data/api-docs-nav-data.json
  content/vault/v1.21.x (rc)/data/docs-nav-data.json
Labels: Vault

#1034 Add information on the HCP Terraform Operator for Kubernetes to the agents documentation
  content/terraform-docs-agents/v1.25.x/docs/cloud-docs/agents/agent-pools.mdx
  content/terraform-docs-agents/v1.25.x/docs/cloud-docs/agents/agents.mdx
Labels: Terraform agents

#1062 Add missing docs for Oracle Rootless Password Rotation for Vault 1.19, 1.20
  content/vault/v1.19.x/content/api-docs/secret/databases/index.mdx
  content/vault/v1.19.x/content/docs/secrets/databases/oracle.mdx
  content/vault/v1.20.x/content/api-docs/secret/databases/index.mdx
  content/vault/v1.20.x/content/docs/secrets/databases/oracle.mdx
Labels: Vault

#1069 add beta partial to mcp docs
  content/terraform-mcp-server/v0.3.x/docs/mcp-server/index.mdx
  content/terraform-mcp-server/v0.3.x/docs/partials/beta.mdx
Labels: Terraform MCP Server

#1068 Add a note to change the `tfc_hostname` variable for EU orgs
  content/terraform-docs-common/docs/cloud-docs/integrations/aws-service-catalog/index.mdx
Labels: HCP Terraform

#1041 1.21 - RC Add MFA TOTP Self-Enroll Docs
  content/vault/v1.18.x/content/docs/auth/login-mfa/index.mdx
  content/vault/v1.19.x/content/docs/auth/login-mfa/index.mdx
  content/vault/v1.20.x/content/docs/auth/login-mfa/index.mdx
  content/vault/v1.21.x (rc)/content/api-docs/secret/identity/mfa/totp.mdx
  content/vault/v1.21.x (rc)/content/docs/auth/login-mfa/index.mdx
  content/vault/v1.21.x (rc)/content/docs/enterprise/mfa/index.mdx
  content/vault/v1.21.x (rc)/content/docs/internals/telemetry/metrics/all.mdx
  content/vault/v1.21.x (rc)/content/docs/internals/telemetry/metrics/availability.mdx
  content/vault/v1.21.x (rc)/content/partials/telemetry-metrics/vault/replication/rpc/client/persist_pending_login_mfa_secret.mdx
  content/vault/v1.21.x (rc)/content/partials/telemetry-metrics/vault/replication/rpc/server/persist_pending_login_mfa_secret.mdx
Labels: Vault

#1050 [VAULT-38465] Cumulative API docs
  content/vault/v1.21.x (rc)/content/api-docs/system/internal-counters.mdx
  content/vault/v1.21.x (rc)/content/partials/alerts/tech-preview.mdx
Labels: Vault

#1022 Add callouts to 1.13 docs to help users find search and actions docs
  content/terraform/v1.13.x/data/cli-nav-data.json
  content/terraform/v1.13.x/data/language-nav-data.json
  content/terraform/v1.13.x/docs/cli/commands/apply.mdx
  content/terraform/v1.13.x/docs/cli/commands/import.mdx
  content/terraform/v1.13.x/docs/cli/commands/plan.mdx
  content/terraform/v1.13.x/docs/cli/import/index.mdx
  content/terraform/v1.13.x/docs/cli/import/usage.mdx
  content/terraform/v1.13.x/docs/language/block/import.mdx
  content/terraform/v1.13.x/docs/language/block/resource.mdx
  content/terraform/v1.13.x/docs/language/import/generating-configuration.mdx
  content/terraform/v1.13.x/docs/language/import/index.mdx
  content/terraform/v1.13.x/docs/language/meta-arguments.mdx
  content/terraform/v1.14.x (beta)/docs/language/import/bulk.mdx
Labels: Terraform CE
