Repository hashicorp/web-unified-docs, pull requests merged in 2025-08, with the labels that each got.

#557 Add provider block reference rewrite
  content/terraform/v1.12.x/data/language-nav-data.json
  content/terraform/v1.12.x/docs/language/block/data.mdx
  content/terraform/v1.12.x/docs/language/block/provider.mdx
  content/terraform/v1.12.x/docs/language/block/resource.mdx
  content/terraform/v1.12.x/docs/language/meta-arguments/module-providers.mdx
  content/terraform/v1.12.x/docs/language/meta-arguments/resource-provider.mdx
  content/terraform/v1.12.x/docs/language/modules/develop/providers.mdx
  content/terraform/v1.12.x/docs/language/providers/configuration.mdx
  content/terraform/v1.12.x/docs/language/providers/index.mdx
  content/terraform/v1.12.x/docs/language/providers/requirements.mdx
  content/terraform/v1.12.x/docs/language/resources/syntax.mdx
  content/terraform/v1.12.x/docs/language/tests/index.mdx
  content/terraform/v1.12.x/docs/language/v1-compatibility-promises.mdx
Labels: Terraform

#672 modules usage and overview
  content/terraform-docs-common/redirects.jsonc
  content/terraform/v1.12.x/data/language-nav-data.json
  content/terraform/v1.12.x/docs/language/block/module.mdx
  content/terraform/v1.12.x/docs/language/modules/configuration.mdx
  content/terraform/v1.12.x/docs/language/modules/index.mdx
Labels: Terraform

#639 Add docs for slh-dsa
  content/vault/v1.20.x/content/api-docs/secret/transit.mdx
Labels: vault-docs

#649 VAULT-37329: clarify month normalizations in Counters and Export API's
  content/vault/v1.19.x/content/api-docs/system/internal-counters.mdx
  content/vault/v1.20.x/content/api-docs/system/internal-counters.mdx
Labels: vault-docs

#690 [VAULT DOCS] Fix snapshot links
  content/vault/v1.20.x/content/api-docs/secret/cubbyhole.mdx
  content/vault/v1.20.x/content/api-docs/secret/kv/kv-v1.mdx
Labels: vault-docs

#637 VAULT: 36221 start time counters api bug
  content/vault/v1.18.x/content/api-docs/system/internal-counters.mdx
  content/vault/v1.18.x/content/docs/release-notes/1.18.0.mdx
  content/vault/v1.18.x/content/docs/upgrading/upgrade-to-1.18.x.mdx
  content/vault/v1.19.x/content/api-docs/system/internal-counters.mdx
  content/vault/v1.19.x/content/docs/updates/important-changes.mdx
  content/vault/v1.19.x/content/partials/release-notes/change-summary/1_19.mdx
  content/vault/v1.20.x/content/api-docs/system/internal-counters.mdx
Labels: vault-docs

#655 Add documentation for new vault secret list parameter
  content/vault/v1.21.x (rc)/content/api-docs/secret/kv/kv-v2.mdx
Labels: vault-docs

#687 Update important-changes.mdx
  content/vault/v1.20.x/content/docs/updates/important-changes.mdx
Labels: vault-docs

#701 Add docs for github enterprise server url parameter for secrets sync
  content/vault/v1.21.x (rc)/content/api-docs/system/secrets-sync.mdx
  content/vault/v1.21.x (rc)/content/docs/sync/github.mdx
Labels: vault-docs

#555 Move Terraform Migrate docs to their own versioned docs set
  CODEOWNERS
  __fixtures__/productConfig.mjs
  app/utils/productConfig.mjs
  content/terraform-docs-common/data/cloud-docs-nav-data.json
  content/terraform-docs-common/docs/cloud-docs/migrate/index.mdx
  content/terraform-docs-common/docs/cloud-docs/migrate/tf-migrate/index.mdx
  content/terraform-docs-common/redirects.jsonc
  content/terraform-migrate/v1.0.x/data/migrate-nav-data.json
  content/terraform-migrate/v1.0.x/docs/migrate/authenticate.mdx
  content/terraform-migrate/v1.0.x/docs/migrate/index.mdx
  content/terraform-migrate/v1.0.x/docs/migrate/install.mdx
  content/terraform-migrate/v1.0.x/docs/migrate/reference/configuration.mdx
  content/terraform-migrate/v1.0.x/docs/migrate/reference/execute.mdx
  content/terraform-migrate/v1.0.x/docs/migrate/reference/prepare.mdx
  content/terraform-migrate/v1.1.x/data/migrate-nav-data.json
  content/terraform-migrate/v1.1.x/docs/migrate/authenticate.mdx
  content/terraform-migrate/v1.1.x/docs/migrate/index.mdx
  content/terraform-migrate/v1.1.x/docs/migrate/install.mdx
  content/terraform-migrate/v1.1.x/docs/migrate/reference/configuration.mdx
  content/terraform-migrate/v1.1.x/docs/migrate/reference/execute.mdx
  content/terraform-migrate/v1.1.x/docs/migrate/reference/prepare.mdx
Labels: HCP Terraform

#713 Updating link to HCP Terraform per #710
  content/terraform/v1.13.x (rc)/docs/cli/cloud/index.mdx
  content/terraform/v1.13.x (rc)/docs/language/state/remote.mdx
Labels: documentation, HCP Terraform, Terraform Enterprise, Terraform

#692 Atru/meta args
  content/terraform-docs-common/redirects.jsonc
  content/terraform/v1.12.x/data/language-nav-data.json
  content/terraform/v1.12.x/docs/language/block/data.mdx
  content/terraform/v1.12.x/docs/language/block/module.mdx
  content/terraform/v1.12.x/docs/language/block/resource.mdx
  content/terraform/v1.12.x/docs/language/meta-arguments.mdx
  content/terraform/v1.12.x/docs/language/meta-arguments/count.mdx
  content/terraform/v1.12.x/docs/language/meta-arguments/depends_on.mdx
  content/terraform/v1.12.x/docs/language/meta-arguments/for_each.mdx
  content/terraform/v1.12.x/docs/language/meta-arguments/lifecycle.mdx
  content/terraform/v1.12.x/docs/language/meta-arguments/module-providers.mdx
  content/terraform/v1.12.x/docs/language/meta-arguments/resource-provider.mdx
Labels: Terraform

#794 Rewrite the Sensitive data in state article to be usage!
  content/terraform/v1.12.x/data/language-nav-data.json
  content/terraform/v1.12.x/docs/cli/commands/output.mdx
  content/terraform/v1.12.x/docs/cli/commands/show.mdx
  content/terraform/v1.12.x/docs/language/block/data.mdx
  content/terraform/v1.12.x/docs/language/block/ephemeral.mdx
  content/terraform/v1.12.x/docs/language/block/module.mdx
  content/terraform/v1.12.x/docs/language/block/output.mdx
  content/terraform/v1.12.x/docs/language/block/resource.mdx
  content/terraform/v1.12.x/docs/language/block/variable.mdx
  content/terraform/v1.12.x/docs/language/expressions/references.mdx
  content/terraform/v1.12.x/docs/language/manage-sensitive-data.mdx
  content/terraform/v1.12.x/docs/language/parameterize/configure.mdx
  content/terraform/v1.12.x/docs/language/state/sensitive-data.mdx
Labels: Terraform

#812 Move the navbar and fix links for reference rewrites
  content/terraform/v1.12.x/data/language-nav-data.json
  content/terraform/v1.12.x/docs/cli/commands/import.mdx
  content/terraform/v1.12.x/docs/cli/commands/plan.mdx
  content/terraform/v1.12.x/docs/cli/commands/state/mv.mdx
  content/terraform/v1.12.x/docs/cli/commands/state/rm.mdx
  content/terraform/v1.12.x/docs/cli/commands/state/show.mdx
  content/terraform/v1.12.x/docs/cli/config/environment-variables.mdx
  content/terraform/v1.12.x/docs/cli/test/index.mdx
  content/terraform/v1.12.x/docs/language/block/check.mdx
  content/terraform/v1.12.x/docs/language/block/data.mdx
  content/terraform/v1.12.x/docs/language/block/ephemeral.mdx
  content/terraform/v1.12.x/docs/language/block/locals.mdx
  content/terraform/v1.12.x/docs/language/block/module.mdx
  content/terraform/v1.12.x/docs/language/block/output.mdx
  content/terraform/v1.12.x/docs/language/block/resource.mdx
  content/terraform/v1.12.x/docs/language/block/variable.mdx
  content/terraform/v1.12.x/docs/language/expressions/conditionals.mdx
  content/terraform/v1.12.x/docs/language/expressions/index.mdx
  content/terraform/v1.12.x/docs/language/expressions/references.mdx
  content/terraform/v1.12.x/docs/language/expressions/splat.mdx
  content/terraform/v1.12.x/docs/language/functions/csvdecode.mdx
  content/terraform/v1.12.x/docs/language/functions/fileset.mdx
  content/terraform/v1.12.x/docs/language/functions/flatten.mdx
  content/terraform/v1.12.x/docs/language/functions/format.mdx
  content/terraform/v1.12.x/docs/language/functions/plantimestamp.mdx
  content/terraform/v1.12.x/docs/language/functions/setproduct.mdx
  content/terraform/v1.12.x/docs/language/functions/terraform-decode_tfvars.mdx
  content/terraform/v1.12.x/docs/language/functions/terraform-encode_tfvars.mdx
  content/terraform/v1.12.x/docs/language/functions/timecmp.mdx
  content/terraform/v1.12.x/docs/language/functions/timestamp.mdx
  content/terraform/v1.12.x/docs/language/functions/uuid.mdx
  content/terraform/v1.12.x/docs/language/meta-arguments.mdx
  content/terraform/v1.12.x/docs/language/modules/develop/composition.mdx
  content/terraform/v1.12.x/docs/language/modules/develop/providers.mdx
  content/terraform/v1.12.x/docs/language/modules/develop/refactoring.mdx
  content/terraform/v1.12.x/docs/language/modules/syntax.mdx
  content/terraform/v1.12.x/docs/language/parameterize.mdx
  content/terraform/v1.12.x/docs/language/parameterize/index.mdx
  content/terraform/v1.12.x/docs/language/resources/behavior.mdx
  content/terraform/v1.12.x/docs/language/resources/index.mdx
  content/terraform/v1.12.x/docs/language/resources/provisioners/syntax.mdx
  content/terraform/v1.12.x/docs/language/resources/syntax.mdx
  content/terraform/v1.12.x/docs/language/resources/terraform-data.mdx
  content/terraform/v1.12.x/docs/language/stacks/create/declare-providers.mdx
  content/terraform/v1.12.x/docs/language/stacks/reference/tfstack.mdx
  content/terraform/v1.12.x/docs/language/stacks/use-cases.mdx
  content/terraform/v1.12.x/docs/language/style.mdx
  content/terraform/v1.12.x/docs/language/tests/index.mdx
  content/terraform/v1.12.x/docs/language/v1-compatibility-promises.mdx
  content/terraform/v1.12.x/docs/language/validate/index.mdx
Labels: Terraform

#775 [VAULT DOCS] Add missing entry to important changes
  content/vault/global/partials/important-changes/breaking-changes/cve-2025-6000.mdx
  content/vault/global/partials/important-changes/summary-tables/1_16.mdx
  content/vault/global/partials/important-changes/summary-tables/1_17.mdx
  content/vault/global/partials/important-changes/summary-tables/1_18.mdx
  content/vault/global/partials/important-changes/summary-tables/1_19.mdx
  content/vault/global/partials/important-changes/summary-tables/1_20.mdx
  content/vault/global/partials/important-changes/summary-tables/lts/1_16-to-1_19.mdx
  content/vault/v1.16.x/content/docs/upgrading/upgrade-to-1.16.x.mdx
  content/vault/v1.18.x/content/docs/upgrading/upgrade-to-1.16.x.mdx
  content/vault/v1.18.x/content/docs/upgrading/upgrade-to-1.18.x.mdx
  content/vault/v1.19.x/content/docs/updates/change-tracker.mdx
  content/vault/v1.19.x/content/docs/updates/important-changes.mdx
  content/vault/v1.19.x/content/docs/updates/lts-updates.mdx
  content/vault/v1.19.x/content/docs/updates/release-notes.mdx
  content/vault/v1.20.x/content/docs/updates/change-tracker.mdx
  content/vault/v1.20.x/content/docs/updates/important-changes.mdx
  content/vault/v1.20.x/content/docs/updates/lts-tracker.mdx
  content/vault/v1.20.x/content/docs/updates/release-notes.mdx
  content/vault/v1.20.x/content/partials/release-notes/change-summary/1_16.mdx
  content/vault/v1.20.x/content/partials/release-notes/change-summary/1_17.mdx
  content/vault/v1.20.x/content/partials/release-notes/change-summary/1_18.mdx
  content/vault/v1.20.x/content/partials/release-notes/change-summary/1_19.mdx
  content/vault/v1.20.x/content/partials/release-notes/change-summary/1_20.mdx
Labels: vault-docs

#835 Add clarity to breaking change impact
  content/vault/global/partials/important-changes/breaking-changes/cve-2025-6000.mdx
Labels: vault-docs

#842 Vault: Internals: update recommended patterns
  content/vault/v1.14.x/content/docs/internals/recommended-patterns.mdx
  content/vault/v1.15.x/content/docs/internals/recommended-patterns.mdx
  content/vault/v1.16.x/content/docs/internals/recommended-patterns.mdx
  content/vault/v1.17.x/content/docs/internals/recommended-patterns.mdx
  content/vault/v1.18.x/content/docs/internals/recommended-patterns.mdx
  content/vault/v1.19.x/content/docs/internals/recommended-patterns.mdx
  content/vault/v1.20.x/content/docs/internals/recommended-patterns.mdx
Labels: vault-docs

#631 Vault: Revamp audit logging docs
  content/vault/v1.20.x/content/docs/audit/best-practices.mdx
  content/vault/v1.20.x/content/docs/audit/index.mdx
  content/vault/v1.20.x/content/docs/audit/schema.mdx
  content/vault/v1.20.x/content/docs/enterprise/audit/exclusion.mdx
  content/vault/v1.20.x/content/docs/enterprise/audit/filtering.mdx
  content/vault/v1.20.x/data/docs-nav-data.json
Labels: vault-docs

#856 [VAULT DOCS] Update wonky redirects
  content/vault/v1.20.x/content/docs/about-vault/how-vault-works.mdx
  content/vault/v1.20.x/redirects.jsonc
  docs/redirects.md
Labels: vault-docs

#876 [VAULT DOCS] Publish content updates for 2025-08 release
  content/vault/v1.19.x/content/docs/auth/ldap.mdx
  content/vault/v1.20.x/content/docs/auth/ldap.mdx
Labels: vault-docs

#858 Relocate reference to kubernetes supported versions
  content/vault/v1.13.x/content/docs/platform/k8s/helm/index.mdx
  content/vault/v1.14.x/content/docs/platform/k8s/helm/index.mdx
  content/vault/v1.14.x/content/docs/platform/k8s/index.mdx
  content/vault/v1.15.x/content/docs/platform/k8s/helm/index.mdx
  content/vault/v1.15.x/content/docs/platform/k8s/index.mdx
  content/vault/v1.16.x/content/docs/platform/k8s/helm/index.mdx
  content/vault/v1.16.x/content/docs/platform/k8s/index.mdx
  content/vault/v1.17.x/content/docs/platform/k8s/helm/index.mdx
  content/vault/v1.17.x/content/docs/platform/k8s/index.mdx
  content/vault/v1.18.x/content/docs/platform/k8s/helm/index.mdx
  content/vault/v1.18.x/content/docs/platform/k8s/index.mdx
  content/vault/v1.19.x/content/docs/deploy/kubernetes/helm/index.mdx
  content/vault/v1.19.x/content/docs/deploy/kubernetes/index.mdx
  content/vault/v1.20.x/content/docs/deploy/kubernetes/helm/index.mdx
  content/vault/v1.20.x/content/docs/deploy/kubernetes/index.mdx
Labels: vault-docs
