Repository hashicorp/web-unified-docs, pull requests merged in 2025-07, with the labels that each got.

#559 Waf 316 create high performing teams
  content/well-architected-framework/data/docs-nav-data.json
  content/well-architected-framework/docs/docs/automate-and-define-processes/create-high-performing-teams/collaboration.mdx
  content/well-architected-framework/docs/docs/automate-and-define-processes/create-high-performing-teams/communication.mdx
  content/well-architected-framework/docs/docs/automate-and-define-processes/create-high-performing-teams/continuous-learning.mdx
  content/well-architected-framework/docs/docs/automate-and-define-processes/create-high-performing-teams/overview.mdx
  content/well-architected-framework/docs/docs/automate-and-define-processes/create-high-performing-teams/recognition.mdx
  content/well-architected-framework/docs/docs/automate-and-define-processes/create-high-performing-teams/sense-of-ownership.mdx
  content/well-architected-framework/docs/docs/automate-and-define-processes/create-high-performing-teams/writing.mdx
Labels: waf-to-docs

#575 WAF 315 zero downtime deployments
  content/well-architected-framework/data/docs-nav-data.json
  content/well-architected-framework/docs/docs/automate-and-define-processes/develop-and-deploy/zero-downtime-deployments/applications.mdx
  content/well-architected-framework/docs/docs/automate-and-define-processes/develop-and-deploy/zero-downtime-deployments/infrastructure.mdx
  content/well-architected-framework/docs/docs/automate-and-define-processes/develop-and-deploy/zero-downtime-deployments/overview.mdx
  content/well-architected-framework/docs/docs/automate-and-define-processes/develop-and-deploy/zero-downtime-deployments/service-mesh.mdx
  content/well-architected-framework/docs/docs/automate-and-define-processes/team-and-culture/create-high-performing-teams/collaboration.mdx
  content/well-architected-framework/docs/docs/automate-and-define-processes/team-and-culture/create-high-performing-teams/communication.mdx
  content/well-architected-framework/docs/docs/automate-and-define-processes/team-and-culture/create-high-performing-teams/continuous-learning.mdx
  content/well-architected-framework/docs/docs/automate-and-define-processes/team-and-culture/create-high-performing-teams/overview.mdx
  content/well-architected-framework/docs/docs/automate-and-define-processes/team-and-culture/create-high-performing-teams/recognition.mdx
  content/well-architected-framework/docs/docs/automate-and-define-processes/team-and-culture/create-high-performing-teams/sense-of-ownership.mdx
  content/well-architected-framework/docs/docs/automate-and-define-processes/team-and-culture/create-high-performing-teams/writing.mdx
  content/well-architected-framework/img/docs/well-architected/blue-green-canary-tests-deployments/alternating-blue-green.png
  content/well-architected-framework/img/docs/well-architected/blue-green-canary-tests-deployments/blue-green-deployment.png
  content/well-architected-framework/img/docs/well-architected/blue-green-canary-tests-deployments/canary-deployment.png
  content/well-architected-framework/img/docs/well-architected/blue-green-canary-tests-deployments/rolling-deployment.png
Labels: waf-to-docs

#576 Use infrastructure as code
  content/well-architected-framework/data/docs-nav-data.json
  content/well-architected-framework/docs/docs/automate-and-define-processes/develop-and-deploy/automate-deployments/fully-automate.mdx
  content/well-architected-framework/docs/docs/automate-and-define-processes/develop-and-deploy/automate-deployments/overview.mdx
  content/well-architected-framework/docs/docs/automate-and-define-processes/develop-and-deploy/automate-deployments/semi-automate.mdx
  content/well-architected-framework/docs/docs/automate-and-define-processes/develop-and-deploy/use-infrastructure-as-code/manage-tools/ci-cd.mdx
  content/well-architected-framework/docs/docs/automate-and-define-processes/develop-and-deploy/use-infrastructure-as-code/manage-tools/cloud-automation.mdx
  content/well-architected-framework/docs/docs/automate-and-define-processes/develop-and-deploy/use-infrastructure-as-code/manage-tools/container-orchestration.mdx
  content/well-architected-framework/docs/docs/automate-and-define-processes/develop-and-deploy/use-infrastructure-as-code/manage-tools/database.mdx
  content/well-architected-framework/docs/docs/automate-and-define-processes/develop-and-deploy/use-infrastructure-as-code/manage-tools/logging-and-monitoring.mdx
  content/well-architected-framework/docs/docs/automate-and-define-processes/develop-and-deploy/use-infrastructure-as-code/manage-tools/security-and-authentication.mdx
  content/well-architected-framework/docs/docs/automate-and-define-processes/develop-and-deploy/use-infrastructure-as-code/manage-tools/version-control-systems.mdx
  content/well-architected-framework/docs/docs/automate-and-define-processes/develop-and-deploy/use-infrastructure-as-code/overview.mdx
  content/well-architected-framework/docs/docs/automate-and-define-processes/develop-and-deploy/zero-downtime-deployments/applications.mdx
  content/well-architected-framework/docs/docs/automate-and-define-processes/develop-and-deploy/zero-downtime-deployments/infrastructure.mdx
  content/well-architected-framework/docs/docs/automate-and-define-processes/develop-and-deploy/zero-downtime-deployments/overview.mdx
  content/well-architected-framework/docs/docs/automate-and-define-processes/develop-and-deploy/zero-downtime-deployments/service-mesh.mdx
  content/well-architected-framework/docs/docs/automate-and-define-processes/team-and-culture/create-high-performing-teams/collaboration.mdx
  content/well-architected-framework/docs/docs/automate-and-define-processes/team-and-culture/create-high-performing-teams/communication.mdx
  content/well-architected-framework/docs/docs/automate-and-define-processes/team-and-culture/create-high-performing-teams/continuous-learning.mdx
  content/well-architected-framework/docs/docs/automate-and-define-processes/team-and-culture/create-high-performing-teams/overview.mdx
  content/well-architected-framework/docs/docs/automate-and-define-processes/team-and-culture/create-high-performing-teams/recognition.mdx
  content/well-architected-framework/docs/docs/automate-and-define-processes/team-and-culture/create-high-performing-teams/sense-of-ownership.mdx
  content/well-architected-framework/docs/docs/automate-and-define-processes/team-and-culture/create-high-performing-teams/writing.mdx
  content/well-architected-framework/docs/docs/secure-systems/compliance-and-governance/policy-as-code.mdx
  content/well-architected-framework/docs/docs/secure-systems/introduction.mdx
Labels: waf-to-docs

#614 [VAULT DOCS] Add content changes that missed the cutover
  content/vault/v1.18.x/content/docs/upgrading/upgrade-to-1.16.x.mdx
  content/vault/v1.18.x/content/docs/upgrading/upgrade-to-1.17.x.mdx
  content/vault/v1.18.x/content/partials/known-issues/duplicate-hsm-key.mdx
  content/vault/v1.20.x/content/api-docs/secret/identity/entity.mdx
  content/vault/v1.20.x/content/docs/auth/azure.mdx
  content/vault/v1.20.x/content/docs/commands/audit/enable.mdx
  content/vault/v1.20.x/content/docs/commands/hcp/connect.mdx
  content/vault/v1.20.x/content/docs/commands/hcp/disconnect.mdx
  content/vault/v1.20.x/content/docs/commands/hcp/index.mdx
  content/vault/v1.20.x/content/docs/configuration/telemetry.mdx
  content/vault/v1.20.x/content/docs/deploy/kubernetes/helm/examples/standalone-tls.mdx
  content/vault/v1.20.x/content/docs/license/product-usage-reporting.mdx
  content/vault/v1.20.x/content/docs/license/utilization/auto-reporting.mdx
  content/vault/v1.20.x/content/partials/cli/hcp/flags/client-id.mdx
  content/vault/v1.20.x/content/partials/cli/hcp/flags/cluster-id.mdx
  content/vault/v1.20.x/content/partials/cli/hcp/flags/organization-id.mdx
  content/vault/v1.20.x/content/partials/cli/hcp/flags/project-id.mdx
  content/vault/v1.20.x/content/partials/cli/hcp/flags/secret-id.mdx
  content/vault/v1.20.x/content/partials/cli/list/args/path.mdx
  content/vault/v1.20.x/data/docs-nav-data.json
  content/vault/v1.20.x/redirects.jsonc
Labels: vault-docs

#615 Fix proxy front matter in latest release directory
  content/vault/v1.20.x/content/docs/agent-and-proxy/proxy/index.mdx
Labels: vault-docs

#625 Follow-up update on product usage reporting docs
  content/vault/v1.19.x/content/docs/license/product-usage-reporting.mdx
  content/vault/v1.20.x/content/docs/license/product-usage-reporting.mdx
Labels: vault-docs

#621 Add raft metrics
  content/vault/v1.20.x/content/docs/internals/telemetry/metrics/all.mdx
  content/vault/v1.20.x/content/docs/internals/telemetry/metrics/raft.mdx
  content/vault/v1.20.x/content/partials/telemetry-metrics/vault/raft/thread/fsm/saturation.mdx
  content/vault/v1.20.x/content/partials/telemetry-metrics/vault/raft/thread/main/saturation.mdx
Labels: vault-docs

#627 Spe 796/add note plugin dr
  content/vault/v1.20.x/content/partials/plugins/prepare-plugin.mdx
Labels: vault-docs

#642 Docs: Update fix version for Vault change tracker
  content/vault/v1.20.x/content/partials/release-notes/change-summary/1_20.mdx
Labels: vault-docs

#645 HYOK docs
  content/terraform-docs-agents/v1.23.x/docs/cloud-docs/agents/request-forwarding.mdx
  content/terraform-docs-common/data/cloud-docs-nav-data.json
  content/terraform-docs-common/docs/cloud-docs/api-docs/hold-your-own-key/configurations.mdx
  content/terraform-docs-common/docs/cloud-docs/api-docs/hold-your-own-key/encrypted-data-keys.mdx
  content/terraform-docs-common/docs/cloud-docs/api-docs/hold-your-own-key/key-versions.mdx
  content/terraform-docs-common/docs/cloud-docs/api-docs/hold-your-own-key/oidc-configurations/aws.mdx
  content/terraform-docs-common/docs/cloud-docs/api-docs/hold-your-own-key/oidc-configurations/azure.mdx
  content/terraform-docs-common/docs/cloud-docs/api-docs/hold-your-own-key/oidc-configurations/gcp.mdx
  content/terraform-docs-common/docs/cloud-docs/api-docs/hold-your-own-key/oidc-configurations/vault.mdx
  content/terraform-docs-common/docs/cloud-docs/api-docs/organizations.mdx
  content/terraform-docs-common/docs/cloud-docs/api-docs/plans.mdx
  content/terraform-docs-common/docs/cloud-docs/api-docs/state-versions.mdx
  content/terraform-docs-common/docs/cloud-docs/api-docs/workspaces.mdx
  content/terraform-docs-common/docs/cloud-docs/hold-your-own-key/concepts.mdx
  content/terraform-docs-common/docs/cloud-docs/hold-your-own-key/configure.mdx
  content/terraform-docs-common/docs/cloud-docs/hold-your-own-key/index.mdx
  content/terraform-docs-common/docs/partials/tfc-package-callouts/hyok.mdx
  content/terraform-docs-common/img/docs/tfc-hyok-apply-workflow.png
  content/terraform-docs-common/img/docs/tfc-hyok-decrypted-download.png
  content/terraform-docs-common/img/docs/tfc-hyok-dek-generation.png
Labels: Terraform

#665 Spe 296/add validate software
  content/well-architected-framework/data/docs-nav-data.json
  content/well-architected-framework/docs/docs/secure-systems/validate-software-integrity.mdx
Labels: waf-to-docs
