Repository hashicorp/web-unified-docs, pull requests merged in 2025-09, with the labels that each got.

#892 VAULT-38653: Recover as a copy, and update to use headers
  content/vault/v1.21.x (rc)/content/api-docs/secret/cubbyhole.mdx
  content/vault/v1.21.x (rc)/content/api-docs/secret/databases/index.mdx
  content/vault/v1.21.x (rc)/content/api-docs/secret/kv/kv-v1.mdx
  content/vault/v1.21.x (rc)/content/api-docs/secret/ssh.mdx
  content/vault/v1.21.x (rc)/content/docs/commands/recover.mdx
  content/vault/v1.21.x (rc)/content/partials/sysadmin/snapshots/secret-restore/recover/api.mdx
  content/vault/v1.21.x (rc)/content/partials/sysadmin/snapshots/secret-restore/recover/cli.mdx
Labels: vault-docs

#830 Document JSON listener configuration under important changes
  content/vault/global/partials/important-changes/summary-tables/1_16.mdx
  content/vault/global/partials/important-changes/summary-tables/1_18.mdx
  content/vault/global/partials/important-changes/summary-tables/1_19.mdx
  content/vault/global/partials/important-changes/summary-tables/1_20.mdx
  content/vault/v1.16.x/content/api-docs/index.mdx
  content/vault/v1.18.x/content/api-docs/index.mdx
  content/vault/v1.18.x/content/docs/upgrading/upgrade-to-1.16.x.mdx
  content/vault/v1.18.x/content/docs/upgrading/upgrade-to-1.18.x.mdx
  content/vault/v1.19.x/content/api-docs/index.mdx
  content/vault/v1.19.x/content/docs/updates/important-changes.mdx
  content/vault/v1.20.x/content/api-docs/index.mdx
  content/vault/v1.20.x/content/docs/updates/important-changes.mdx
Labels: vault-docs

#895 vault/k8s: update supported k8s versions
  content/vault/v1.16.x/content/docs/platform/k8s/helm/index.mdx
  content/vault/v1.16.x/content/partials/kubernetes-supported-versions.mdx
  content/vault/v1.18.x/content/docs/platform/k8s/helm/index.mdx
  content/vault/v1.18.x/content/partials/kubernetes-supported-versions.mdx
  content/vault/v1.19.x/content/docs/deploy/kubernetes/helm/index.mdx
  content/vault/v1.19.x/content/partials/kubernetes-supported-versions.mdx
  content/vault/v1.20.x/content/docs/deploy/kubernetes/helm/index.mdx
  content/vault/v1.20.x/content/partials/kubernetes-supported-versions.mdx
Labels: vault-docs

#909 API docs update for CCE425 Silent PAT rotation
  content/terraform-docs-common/docs/cloud-docs/api-docs/oauth-clients.mdx
Labels: HCP Terraform

#883 vault/csi-provider: update recommendations for OpenShift
  content/vault/v1.16.x/content/docs/platform/k8s/csi/installation.mdx
  content/vault/v1.18.x/content/docs/platform/k8s/csi/installation.mdx
  content/vault/v1.19.x/content/docs/deploy/kubernetes/csi/installation.mdx
  content/vault/v1.20.x/content/docs/deploy/kubernetes/csi/installation.mdx
Labels: vault-docs

#912 secrets/database/oracle: move latest version to top
  content/vault/v1.16.x/content/docs/secrets/databases/oracle.mdx
  content/vault/v1.17.x/content/docs/secrets/databases/oracle.mdx
  content/vault/v1.18.x/content/docs/secrets/databases/oracle.mdx
  content/vault/v1.19.x/content/docs/secrets/databases/oracle.mdx
  content/vault/v1.20.x/content/docs/secrets/databases/oracle.mdx
Labels: Vault

#926 TF-22423: Adds Step to Disable ASG Health Checks
  content/terraform-enterprise/1.0.x/docs/enterprise/deploy/manage/upgrade.mdx
  content/terraform-enterprise/v202501-1/docs/enterprise/deploy/manage/upgrade.mdx
  content/terraform-enterprise/v202502-1/docs/enterprise/deploy/manage/upgrade.mdx
  content/terraform-enterprise/v202502-2/docs/enterprise/deploy/manage/upgrade.mdx
  content/terraform-enterprise/v202503-1/docs/enterprise/deploy/manage/upgrade.mdx
  content/terraform-enterprise/v202504-1/docs/enterprise/deploy/manage/upgrade.mdx
  content/terraform-enterprise/v202505-1/docs/enterprise/deploy/manage/upgrade.mdx
  content/terraform-enterprise/v202506-1/docs/enterprise/deploy/manage/upgrade.mdx
  content/terraform-enterprise/v202507-1/docs/enterprise/deploy/manage/upgrade.mdx
Labels: Terraform Enterprise

#893 update documentation to include reference to logging
  content/vault/v1.19.x/content/docs/auth/ldap.mdx
  content/vault/v1.19.x/content/docs/secrets/databases/index.mdx
  content/vault/v1.19.x/content/docs/secrets/ldap.mdx
  content/vault/v1.19.x/content/partials/rotation-manager-logging.mdx
  content/vault/v1.20.x/content/docs/auth/ldap.mdx
  content/vault/v1.20.x/content/docs/secrets/databases/index.mdx
  content/vault/v1.20.x/content/docs/secrets/ldap.mdx
  content/vault/v1.20.x/content/partials/rotation-manager-logging.mdx
Labels: Vault

#951 Revert "Add documentation for new organization level user-token-enabled setting"
  content/terraform-docs-common/docs/cloud-docs/api-docs/organizations.mdx
  content/terraform-docs-common/docs/cloud-docs/users-teams-organizations/api-tokens.mdx
  content/terraform-docs-common/docs/cloud-docs/users-teams-organizations/users.mdx
Labels: HCP Terraform

#950 Updates for tfc-agent release 1.24.0
  content/terraform-docs-agents/v1.24.x/data/cloud-docs-agents-nav-data.json
  content/terraform-docs-agents/v1.24.x/docs/cloud-docs/agents/agent-pools.mdx
  content/terraform-docs-agents/v1.24.x/docs/cloud-docs/agents/agents.mdx
  content/terraform-docs-agents/v1.24.x/docs/cloud-docs/agents/changelog.mdx
  content/terraform-docs-agents/v1.24.x/docs/cloud-docs/agents/hooks.mdx
  content/terraform-docs-agents/v1.24.x/docs/cloud-docs/agents/index.mdx
  content/terraform-docs-agents/v1.24.x/docs/cloud-docs/agents/logging.mdx
  content/terraform-docs-agents/v1.24.x/docs/cloud-docs/agents/metrics.mdx
  content/terraform-docs-agents/v1.24.x/docs/cloud-docs/agents/request-forwarding.mdx
  content/terraform-docs-agents/v1.24.x/docs/cloud-docs/agents/requirements.mdx
  content/terraform-docs-agents/v1.24.x/docs/cloud-docs/agents/telemetry.mdx
  content/terraform-docs-agents/v1.24.x/docs/cloud-docs/agents/tracing.mdx
  content/terraform-docs-agents/v1.24.x/docs/partials/agents.mdx
  content/terraform-docs-agents/v1.24.x/docs/partials/policy.mdx
  content/terraform-docs-agents/v1.24.x/docs/partials/request-forwarding-tier.mdx
  content/terraform-docs-agents/v1.24.x/img/request-forwarding-arch-dark.png
  content/terraform-docs-agents/v1.24.x/img/request-forwarding-arch-light.png
  content/terraform-docs-agents/v1.24.x/img/request-forwarding-arch.png
  content/terraform-docs-agents/v1.24.x/img/telemetry-arch-dark.png
  content/terraform-docs-agents/v1.24.x/img/telemetry-arch-light.png
  content/terraform-docs-agents/v1.24.x/img/telemetry-arch.png
Labels: Terraform agents

#961 Add docs for KV v2 version attribution
  content/vault/v1.21.x (rc)/content/api-docs/secret/kv/kv-v2.mdx
  content/vault/v1.21.x (rc)/content/docs/concepts/auth.mdx
  content/vault/v1.21.x (rc)/content/docs/secrets/kv/kv-v2/cookbook/custom-metadata.mdx
Labels: Vault

#964 Update AWS lambda action code examples
  content/terraform/v1.14.x (beta)/docs/language/block/action.mdx
Labels: Terraform CE

#691 VSO CSI driver documentation
  content/vault/v1.20.x/content/docs/auth/approle/approle-pattern.mdx
  content/vault/v1.20.x/content/docs/deploy/kubernetes/comparisons.mdx
  content/vault/v1.20.x/content/docs/deploy/kubernetes/csi/configurations.mdx
  content/vault/v1.20.x/content/docs/deploy/kubernetes/csi/examples.mdx
  content/vault/v1.20.x/content/docs/deploy/kubernetes/csi/index.mdx
  content/vault/v1.20.x/content/docs/deploy/kubernetes/csi/installation.mdx
  content/vault/v1.20.x/content/docs/deploy/kubernetes/index.mdx
  content/vault/v1.20.x/content/docs/deploy/kubernetes/injector-csi.mdx
  content/vault/v1.20.x/content/docs/deploy/kubernetes/injector/index.mdx
  content/vault/v1.20.x/content/docs/deploy/kubernetes/vso/api-reference.mdx
  content/vault/v1.20.x/content/docs/deploy/kubernetes/vso/csi/index.mdx
  content/vault/v1.20.x/content/docs/deploy/kubernetes/vso/csi/setup.mdx
  content/vault/v1.20.x/content/docs/deploy/kubernetes/vso/helm.mdx
  content/vault/v1.20.x/content/docs/deploy/kubernetes/vso/index.mdx
  content/vault/v1.20.x/content/docs/deploy/kubernetes/vso/installation.mdx
  content/vault/v1.20.x/content/docs/deploy/kubernetes/vso/secret-transformation.mdx
  content/vault/v1.20.x/content/partials/vso/common-links.mdx
  content/vault/v1.20.x/data/docs-nav-data.json
  content/vault/v1.20.x/img/vso_csi_secrets_flow.png
  content/vault/v1.20.x/img/vso_secrets_flow.png
Labels: Vault

#957 Add docs for explorer workspace tags [TF-30537]
  content/terraform-docs-common/docs/cloud-docs/api-docs/explorer.mdx
Labels: HCP Terraform

#968 Get rid of reference to kvv2 recover
  content/vault/v1.21.x (rc)/content/docs/concepts/auth.mdx
Labels: Vault

#860 Add section to api docs on batch-fetch certificates.
  content/vault/v1.21.x (rc)/content/api-docs/secret/pki/index.mdx
Labels: Vault

#976 TF-26601: Add Atlas tunable settings documentation for TFE performance optimization
  content/terraform-enterprise/1.0.x/docs/enterprise/deploy/reference/configuration.mdx
Labels: Terraform Enterprise

#969 [PUBLISH] vault/202509
  content/vault/v1.16.x/content/api-docs/secret/databases/snowflake.mdx
  content/vault/v1.16.x/content/docs/secrets/databases/snowflake.mdx
  content/vault/v1.17.x/content/api-docs/secret/databases/snowflake.mdx
  content/vault/v1.17.x/content/docs/secrets/databases/snowflake.mdx
  content/vault/v1.18.x/content/api-docs/secret/databases/snowflake.mdx
  content/vault/v1.18.x/content/docs/secrets/databases/snowflake.mdx
  content/vault/v1.19.x/content/api-docs/secret/databases/snowflake.mdx
  content/vault/v1.19.x/content/docs/secrets/databases/snowflake.mdx
  content/vault/v1.20.x/content/api-docs/secret/databases/snowflake.mdx
  content/vault/v1.20.x/content/docs/auth/approle/approle-pattern.mdx
  content/vault/v1.20.x/content/docs/deploy/kubernetes/comparisons.mdx
  content/vault/v1.20.x/content/docs/deploy/kubernetes/csi/configurations.mdx
  content/vault/v1.20.x/content/docs/deploy/kubernetes/csi/examples.mdx
  content/vault/v1.20.x/content/docs/deploy/kubernetes/csi/index.mdx
  content/vault/v1.20.x/content/docs/deploy/kubernetes/csi/installation.mdx
  content/vault/v1.20.x/content/docs/deploy/kubernetes/index.mdx
  content/vault/v1.20.x/content/docs/deploy/kubernetes/injector-csi.mdx
  content/vault/v1.20.x/content/docs/deploy/kubernetes/injector/index.mdx
  content/vault/v1.20.x/content/docs/deploy/kubernetes/vso/api-reference.mdx
  content/vault/v1.20.x/content/docs/deploy/kubernetes/vso/csi/index.mdx
  content/vault/v1.20.x/content/docs/deploy/kubernetes/vso/csi/setup.mdx
  content/vault/v1.20.x/content/docs/deploy/kubernetes/vso/helm.mdx
  content/vault/v1.20.x/content/docs/deploy/kubernetes/vso/index.mdx
  content/vault/v1.20.x/content/docs/deploy/kubernetes/vso/installation.mdx
  content/vault/v1.20.x/content/docs/deploy/kubernetes/vso/secret-transformation.mdx
  content/vault/v1.20.x/content/docs/mcp-server/deploy.mdx
  content/vault/v1.20.x/content/docs/mcp-server/overview.mdx
  content/vault/v1.20.x/content/docs/mcp-server/prompt-model.mdx
  content/vault/v1.20.x/content/docs/mcp-server/reference.mdx
  content/vault/v1.20.x/content/docs/mcp-server/security-model.mdx
  content/vault/v1.20.x/content/docs/secrets/databases/snowflake.mdx
  content/vault/v1.20.x/content/partials/alerts/beta.mdx
  content/vault/v1.20.x/content/partials/vso/common-links.mdx
  content/vault/v1.20.x/data/docs-nav-data.json
  content/vault/v1.20.x/img/vso_csi_secrets_flow.png
  content/vault/v1.20.x/img/vso_secrets_flow.png
Labels: Vault

#1001 update links to provider docs
  content/terraform/v1.14.x (beta)/docs/language/import/bulk.mdx
Labels: Terraform CE

#1005 [VAULT] Replace "direct secrets" with "protected secrets"
  content/vault/v1.20.x/content/docs/deploy/kubernetes/comparisons.mdx
  content/vault/v1.20.x/content/docs/deploy/kubernetes/index.mdx
  content/vault/v1.20.x/content/docs/deploy/kubernetes/vso/csi/index.mdx
Labels: Vault

#654 Document the string:// escape value for indirect value references
  content/vault/v1.19.x/content/docs/configuration/seal/index.mdx
  content/vault/v1.20.x/content/docs/configuration/seal/index.mdx
Labels: Vault

#874 Update Azure Secrets Engine API documentation
  content/vault/v1.16.x/content/api-docs/secret/azure.mdx
  content/vault/v1.17.x/content/api-docs/secret/azure.mdx
  content/vault/v1.18.x/content/api-docs/secret/azure.mdx
  content/vault/v1.19.x/content/api-docs/secret/azure.mdx
  content/vault/v1.20.x/content/api-docs/secret/azure.mdx
Labels: Vault

#911 Update important-changes.mdx to cover aws-auto-join fixed versions for 1.19.x docs
  content/vault/v1.19.x/content/docs/updates/important-changes.mdx
Labels: Vault, Vault IC

#989 Update 1_20.mdx and 1_19.mdx with known issues summary page update for AWS Auto join
  content/vault/global/partials/important-changes/summary-tables/1_19.mdx
  content/vault/global/partials/important-changes/summary-tables/1_20.mdx
Labels: Vault, Vault IC

#1000 Add a new Vault known issue around rewrapping with multi-seal enabled on failovers
  content/vault/global/partials/important-changes/known-issue/multi-seal-rewrap.mdx
  content/vault/global/partials/important-changes/summary-tables/1_16.mdx
  content/vault/global/partials/important-changes/summary-tables/1_18.mdx
  content/vault/global/partials/important-changes/summary-tables/1_19.mdx
  content/vault/global/partials/important-changes/summary-tables/1_20.mdx
  content/vault/v1.16.x/content/docs/upgrading/upgrade-to-1.16.x.mdx
  content/vault/v1.18.x/content/docs/upgrading/upgrade-to-1.16.x.mdx
  content/vault/v1.18.x/content/docs/upgrading/upgrade-to-1.18.x.mdx
  content/vault/v1.19.x/content/docs/updates/important-changes.mdx
  content/vault/v1.20.x/content/docs/updates/important-changes.mdx
Labels: Vault, Vault IC

#995 [VAULT-39627] Add GUI steps for Secret Engine mount tune
  content/vault/v1.21.x (rc)/content/docs/commands/secrets/tune.mdx
  content/vault/v1.21.x (rc)/content/docs/troubleshoot/tune-lease-ttl.mdx
  content/vault/v1.21.x (rc)/content/partials/alerts/secret-engine-tune-gui-support.mdx
  content/vault/v1.21.x (rc)/content/partials/plugins/tune-keymgmt-steps.mdx
  content/vault/v1.21.x (rc)/img/ui-tune-keymgmt.png
Labels: Vault

#982 Enhance aws_ami data source configuration (this data source does not …
  content/terraform/v1.13.x/docs/language/validate/index.mdx
Labels: Terraform CE

#1004 adding changes from contributor pr 982 to v1.14
  content/terraform/v1.14.x (beta)/docs/language/validate/index.mdx
Labels: Terraform CE

#988 Add redirect to fix upgrade guide URLs
  content/vault/v1.20.x/redirects.jsonc
Labels: Vault

#1018 fix: reference command for config fetch
  content/terraform/v1.13.x/docs/language/stacks/update-GA.mdx
Labels: Terraform CE

#1017 Update invoke-actions.mdx
  content/terraform/v1.14.x (beta)/docs/language/invoke-actions.mdx
Labels: Terraform CE

#956 Add IAM to secure systems
  content/well-architected-framework/data/docs-nav-data.json
  content/well-architected-framework/docs/docs/secure-systems/identity-access-management/centralize-identity-management.mdx
  content/well-architected-framework/docs/docs/secure-systems/identity-access-management/create-permissions-guardrails.mdx
  content/well-architected-framework/docs/docs/secure-systems/identity-access-management/define-access-requirements.mdx
  content/well-architected-framework/docs/docs/secure-systems/identity-access-management/grant-least-privilege.mdx
  content/well-architected-framework/docs/docs/secure-systems/identity-access-management/implement-strong-sign-in-workflows.mdx
  content/well-architected-framework/docs/docs/secure-systems/identity-access-management/manage-access-lifecycle.mdx
  content/well-architected-framework/docs/docs/secure-systems/identity-access-management/use-dynamic-credentials.mdx
Labels: WAF

#1020 Updates for tfc-agent release 1.25.0
  content/terraform-docs-agents/v1.25.x/data/cloud-docs-agents-nav-data.json
  content/terraform-docs-agents/v1.25.x/docs/cloud-docs/agents/agent-pools.mdx
  content/terraform-docs-agents/v1.25.x/docs/cloud-docs/agents/agents.mdx
  content/terraform-docs-agents/v1.25.x/docs/cloud-docs/agents/changelog.mdx
  content/terraform-docs-agents/v1.25.x/docs/cloud-docs/agents/hooks.mdx
  content/terraform-docs-agents/v1.25.x/docs/cloud-docs/agents/index.mdx
  content/terraform-docs-agents/v1.25.x/docs/cloud-docs/agents/logging.mdx
  content/terraform-docs-agents/v1.25.x/docs/cloud-docs/agents/metrics.mdx
  content/terraform-docs-agents/v1.25.x/docs/cloud-docs/agents/request-forwarding.mdx
  content/terraform-docs-agents/v1.25.x/docs/cloud-docs/agents/requirements.mdx
  content/terraform-docs-agents/v1.25.x/docs/cloud-docs/agents/telemetry.mdx
  content/terraform-docs-agents/v1.25.x/docs/cloud-docs/agents/tracing.mdx
  content/terraform-docs-agents/v1.25.x/docs/partials/agents.mdx
  content/terraform-docs-agents/v1.25.x/docs/partials/beta.mdx
  content/terraform-docs-agents/v1.25.x/docs/partials/policy.mdx
  content/terraform-docs-agents/v1.25.x/docs/partials/request-forwarding-tier.mdx
  content/terraform-docs-agents/v1.25.x/img/request-forwarding-arch-dark.png
  content/terraform-docs-agents/v1.25.x/img/request-forwarding-arch-light.png
  content/terraform-docs-agents/v1.25.x/img/request-forwarding-arch.png
  content/terraform-docs-agents/v1.25.x/img/telemetry-arch-dark.png
  content/terraform-docs-agents/v1.25.x/img/telemetry-arch-light.png
  content/terraform-docs-agents/v1.25.x/img/telemetry-arch.png
Labels: Terraform agents
