Repository hashicorp/web-unified-docs, pull requests merged in 2025-06, with the labels that each got.

#470 Finally get to the changes from last TFE release
  content/terraform-docs-common/docs/cloud-docs/api-docs/changelog.mdx
  content/terraform-docs-common/docs/cloud-docs/api-docs/index.mdx
  content/terraform-docs-common/docs/cloud-docs/api-docs/private-registry/manage-module-versions.mdx
  content/terraform-docs-common/docs/cloud-docs/api-docs/run-tasks/run-tasks-integration.mdx
  content/terraform-docs-common/docs/cloud-docs/api-docs/run-tasks/run-tasks.mdx
  content/terraform-docs-common/docs/cloud-docs/integrations/kubernetes/setup.mdx
  content/terraform-docs-common/docs/cloud-docs/registry/index.mdx
  content/terraform-docs-common/docs/cloud-docs/registry/manage-module-versions.mdx
  content/terraform-docs-common/docs/cloud-docs/users-teams-organizations/api-tokens.mdx
  content/terraform-docs-common/docs/cloud-docs/vcs/index.mdx
Labels: HCP Terraform

#469 Remove policy check deprecation messages from HCPTF and last two TFE versions
  content/terraform-docs-common/docs/cloud-docs/api-docs/policies.mdx
  content/terraform-docs-common/docs/cloud-docs/api-docs/policy-checks.mdx
  content/terraform-docs-common/docs/cloud-docs/policy-enforcement/manage-policy-sets/index.mdx
  content/terraform-docs-common/docs/cloud-docs/run/states.mdx
  content/terraform-docs-common/docs/cloud-docs/users-teams-organizations/organizations/index.mdx
  content/terraform-docs-common/docs/partials/deprecation/policy-checks.mdx
  content/terraform-docs-common/redirects.jsonc
  content/terraform-enterprise/v202504-1/docs/enterprise/api-docs/policy-checks.mdx
  content/terraform-enterprise/v202504-1/docs/enterprise/policy-enforcement/manage-policy-sets/index.mdx
  content/terraform-enterprise/v202504-1/docs/partials/deprecation/policy-checks.mdx
  content/terraform-enterprise/v202504-1/redirects.jsonc
  content/terraform-enterprise/v202505-1/docs/enterprise/api-docs/policy-checks.mdx
  content/terraform-enterprise/v202505-1/docs/enterprise/policy-enforcement/manage-policy-sets/index.mdx
  content/terraform-enterprise/v202505-1/docs/partials/deprecation/policy-checks.mdx
  content/terraform-enterprise/v202505-1/redirects.jsonc
Labels: HCP Terraform, Terraform Enterprise

#476 Docs/resource block
  content/terraform/v1.12.x/data/language-nav-data.json
  content/terraform/v1.12.x/docs/language/block/resource.mdx
Labels: documentation

#480 2. API docs for stack deployments and stack deployment groups
  content/terraform-docs-common/docs/cloud-docs/api-docs/stacks.mdx
Labels: HCP Terraform

#481 3. Add docs for stack deployment runs and steps apis
  content/terraform-docs-common/docs/cloud-docs/api-docs/stacks.mdx
Labels: HCP Terraform

#498 use the same word 'uninstall' instead of remove
  content/terraform-enterprise/v202506-1/docs/enterprise/application-administration/github-app-integration.mdx
Labels: Terraform Enterprise
