Repository hashicorp/web-unified-docs, changes with the owners that CODEOWNERS names for each.
All owners: @hashicorp/web-devdot, @hashicorp/terraform-devex, @hashicorp/terraform-education, @hashicorp/team-hcpt-agent-engineering, @hashicorp/cdktf, @hashicorp/terraform-core, @hashicorp/team-docs-packer-and-terraform, @hashicorp/terraform-azure, @hashicorp/tf-eco-hybrid-cloud, @hashicorp/terraform-aws, @hashicorp/ptfe-review, @hashicorp/vault-education-approvers

CODEOWNERS:

# Set the default code owner for all files to be the web-presence team
* @hashicorp/web-devdot

# Content CODEOWNERS

# Terraform documentation ownership
/content/terraform-plugin-framework @hashicorp/terraform-devex @hashicorp/terraform-education
/content/terraform-plugin-log @hashicorp/terraform-devex @hashicorp/terraform-education
/content/terraform-plugin-mux @hashicorp/terraform-devex @hashicorp/terraform-education
/content/terraform-plugin-sdk @hashicorp/terraform-devex @hashicorp/terraform-education
/content/terraform-plugin-testing @hashicorp/terraform-devex @hashicorp/terraform-education
/content/terraform-docs-agents @hashicorp/team-hcpt-agent-engineering
/content/terraform-cdk @hashicorp/cdktf

/content/terraform @hashicorp/terraform-education @hashicorp/terraform-core @hashicorp/team-docs-packer-and-terraform
/content/terraform/*/docs/language/backend/azurerm.mdx @hashicorp/terraform-education @hashicorp/terraform-core @hashicorp/team-docs-packer-and-terraform @hashicorp/terraform-azure
/content/terraform/*/docs/language/backend/gcs.mdx  @hashicorp/terraform-education @hashicorp/terraform-core @hashicorp/team-docs-packer-and-terraform @hashicorp/tf-eco-hybrid-cloud
/content/terraform/*/docs/language/backend/kubernetes.mdx  @hashicorp/terraform-education @hashicorp/terraform-core @hashicorp/team-docs-packer-and-terraform @hashicorp/tf-eco-hybrid-cloud
/content/terraform/*/docs/language/backend/s3.mdx  @hashicorp/terraform-education @hashicorp/terraform-core @hashicorp/team-docs-packer-and-terraform @hashicorp/terraform-aws

/content/terraform-docs-common/ @hashicorp/team-docs-packer-and-terraform
/content/terraform-docs-common/docs/plugin/ @hashicorp/terraform-devex 
/content/terraform-docs-common/data/plugin-nav-data.json @hashicorp/terraform-devex

/content/terraform-enterprise @hashicorp/team-docs-packer-and-terraform @hashicorp/ptfe-review


# Vault documentation ownership

/content/vault/                                    @hashicorp/vault-education-approvers

changed all hyok headers to sentance case
  content/terraform-docs-common/docs/cloud-docs/api-docs/hold-your-own-key/aws-oidc-configurations.mdx
  content/terraform-docs-common/docs/cloud-docs/api-docs/hold-your-own-key/azure-oidc-configurations.mdx
  content/terraform-docs-common/docs/cloud-docs/api-docs/hold-your-own-key/gcp-oidc-configurations.mdx
  content/terraform-docs-common/docs/cloud-docs/api-docs/hold-your-own-key/hyok-configurations.mdx
  content/terraform-docs-common/docs/cloud-docs/api-docs/hold-your-own-key/hyok-customer-key-versions.mdx
  content/terraform-docs-common/docs/cloud-docs/api-docs/hold-your-own-key/hyok-encrypted-data-keys.mdx
  content/terraform-docs-common/docs/cloud-docs/api-docs/hold-your-own-key/vault-oidc-configurations.mdx
Owners: @hashicorp/team-docs-packer-and-terraform

added more info to hyok configuration
  content/terraform-docs-common/docs/cloud-docs/api-docs/hold-your-own-key/hyok-configurations.mdx
Owners: @hashicorp/team-docs-packer-and-terraform

Update file locations fix nav and do some some style edits on each intro
  content/terraform-docs-common/data/cloud-docs-nav-data.json
  content/terraform-docs-common/docs/cloud-docs/api-docs/hold-your-own-key/configurations.mdx
  content/terraform-docs-common/docs/cloud-docs/api-docs/hold-your-own-key/encrypted-data-keys.mdx
  content/terraform-docs-common/docs/cloud-docs/api-docs/hold-your-own-key/key-versions.mdx
  content/terraform-docs-common/docs/cloud-docs/api-docs/hold-your-own-key/oidc-configurations/aws.mdx
  content/terraform-docs-common/docs/cloud-docs/api-docs/hold-your-own-key/oidc-configurations/azure.mdx
  content/terraform-docs-common/docs/cloud-docs/api-docs/hold-your-own-key/oidc-configurations/gcp.mdx
  content/terraform-docs-common/docs/cloud-docs/api-docs/hold-your-own-key/oidc-configurations/vault.mdx
  content/terraform-docs-common/docs/partials/tfc-package-callouts/hyok.mdx
Owners: @hashicorp/team-docs-packer-and-terraform

Apply suggestions from code review
  content/terraform/v1.12.x/docs/language/block/import.mdx
Owners: @hashicorp/terraform-education, @hashicorp/terraform-core, @hashicorp/team-docs-packer-and-terraform

Port everything over
  content/terraform/v1.12.x/data/language-nav-data.json
  content/terraform/v1.12.x/docs/language/block/ephemeral.mdx
  content/terraform/v1.12.x/docs/language/state/sensitive-data.mdx
Owners: @hashicorp/terraform-education, @hashicorp/terraform-core, @hashicorp/team-docs-packer-and-terraform

Fix links and replace old page
  content/terraform/v1.12.x/docs/language/block/output.mdx
  content/terraform/v1.12.x/docs/language/ephemeral/index.mdx
  content/terraform/v1.12.x/docs/language/resources/ephemeral/index.mdx
  content/terraform/v1.12.x/docs/language/resources/ephemeral/write-only.mdx
Owners: @hashicorp/terraform-education, @hashicorp/terraform-core, @hashicorp/team-docs-packer-and-terraform

fix broken links and restructure redirect file
  content/vault/v1.20.x/content/api-docs/secret/cubbyhole.mdx
  content/vault/v1.20.x/content/api-docs/secret/kv/kv-v1.mdx
  content/vault/v1.20.x/redirects.jsonc
Owners: @hashicorp/vault-education-approvers

Exclude the hyok section on runs
  content/terraform-docs-common/docs/cloud-docs/api-docs/organizations.mdx
  content/terraform-docs-common/docs/cloud-docs/api-docs/plans.mdx
  content/terraform-docs-common/docs/cloud-docs/api-docs/state-versions.mdx
  content/terraform-docs-common/docs/cloud-docs/api-docs/workspaces.mdx
Owners: @hashicorp/team-docs-packer-and-terraform

Fix link
  content/terraform-docs-common/docs/cloud-docs/api-docs/organizations.mdx
Owners: @hashicorp/team-docs-packer-and-terraform

Fix
  content/terraform-docs-common/docs/cloud-docs/api-docs/plans.mdx
Owners: @hashicorp/team-docs-packer-and-terraform

trying to fix build error
  content/vault/v1.20.x/redirects.jsonc
Owners: @hashicorp/vault-education-approvers

remove faulty link
  content/terraform-docs-common/docs/cloud-docs/api-docs/plans.mdx
Owners: @hashicorp/team-docs-packer-and-terraform

Hold Your Own Key (HYOK) API Documentation (#588)
  content/terraform-docs-common/data/cloud-docs-nav-data.json
  content/terraform-docs-common/docs/cloud-docs/api-docs/hold-your-own-key/configurations.mdx
  content/terraform-docs-common/docs/cloud-docs/api-docs/hold-your-own-key/encrypted-data-keys.mdx
  content/terraform-docs-common/docs/cloud-docs/api-docs/hold-your-own-key/key-versions.mdx
  content/terraform-docs-common/docs/cloud-docs/api-docs/hold-your-own-key/oidc-configurations/aws.mdx
  content/terraform-docs-common/docs/cloud-docs/api-docs/hold-your-own-key/oidc-configurations/azure.mdx
  content/terraform-docs-common/docs/cloud-docs/api-docs/hold-your-own-key/oidc-configurations/gcp.mdx
  content/terraform-docs-common/docs/cloud-docs/api-docs/hold-your-own-key/oidc-configurations/vault.mdx
  content/terraform-docs-common/docs/cloud-docs/api-docs/organizations.mdx
  content/terraform-docs-common/docs/cloud-docs/api-docs/plans.mdx
  content/terraform-docs-common/docs/cloud-docs/api-docs/state-versions.mdx
  content/terraform-docs-common/docs/cloud-docs/api-docs/workspaces.mdx
Owners: @hashicorp/team-docs-packer-and-terraform

Remove tabs for provider tutorial
  content/terraform-plugin-framework/v1.15.x/docs/plugin/framework/migrating/providers.mdx
Owners: @hashicorp/terraform-devex, @hashicorp/terraform-education

Add validate software
  content/well-architected-framework/data/docs-nav-data.json
  content/well-architected-framework/docs/docs/index.mdx
  content/well-architected-framework/docs/docs/secure-systems/data/index.mdx
  content/well-architected-framework/docs/docs/secure-systems/secure-applications/validate-software-integrity.mdx
Owners: @hashicorp/web-devdot

Apply suggestions from code review
  content/terraform-plugin-framework/v1.15.x/docs/plugin/framework/migrating/resources/crud.mdx
  content/terraform-plugin-framework/v1.15.x/docs/plugin/framework/migrating/resources/index.mdx
Owners: @hashicorp/terraform-devex, @hashicorp/terraform-education

Remove 'muxing'
  content/terraform-plugin-framework/v1.15.x/docs/plugin/framework/migrating/index.mdx
  content/terraform-plugin-framework/v1.15.x/docs/plugin/framework/migrating/mux.mdx
  content/terraform-plugin-framework/v1.15.x/docs/plugin/framework/migrating/providers.mdx
  content/terraform-plugin-framework/v1.15.x/docs/plugin/framework/migrating/testing.mdx
  content/terraform-plugin-framework/v1.15.x/docs/plugin/framework/migrating/workflow.mdx
Owners: @hashicorp/terraform-devex, @hashicorp/terraform-education

Updates from review feedback
  content/terraform-plugin-framework/v1.15.x/docs/plugin/framework/migrating/attributes-blocks/blocks-computed.mdx
  content/terraform-plugin-framework/v1.15.x/docs/plugin/framework/migrating/attributes-blocks/force-new.mdx
  content/terraform-plugin-framework/v1.15.x/docs/plugin/framework/migrating/attributes-blocks/validators-custom.mdx
  content/terraform-plugin-framework/v1.15.x/docs/plugin/framework/migrating/index.mdx
  content/terraform-plugin-framework/v1.15.x/docs/plugin/framework/migrating/mux.mdx
  content/terraform-plugin-framework/v1.15.x/docs/plugin/framework/migrating/providers.mdx
  content/terraform-plugin-framework/v1.15.x/docs/plugin/framework/migrating/resources/index.mdx
  content/terraform-plugin-framework/v1.15.x/docs/plugin/framework/migrating/resources/timeouts.mdx
  content/terraform-plugin-framework/v1.15.x/docs/plugin/framework/migrating/testing.mdx
Owners: @hashicorp/terraform-devex, @hashicorp/terraform-education

Fix links
  content/terraform/v1.12.x/docs/language/block/ephemeral.mdx
Owners: @hashicorp/terraform-education, @hashicorp/terraform-core, @hashicorp/team-docs-packer-and-terraform

Update title() function documentaton to show non-working example.
  content/terraform/v1.12.x/docs/language/functions/title.mdx
Owners: @hashicorp/terraform-education, @hashicorp/terraform-core, @hashicorp/team-docs-packer-and-terraform

Clean up and ready to go
  content/terraform/v1.12.x/data/language-nav-data.json
  content/terraform/v1.12.x/docs/language/block/ephemeral.mdx
  content/terraform/v1.12.x/docs/language/state/sensitive-data.mdx
Owners: @hashicorp/terraform-education, @hashicorp/terraform-core, @hashicorp/team-docs-packer-and-terraform

Updates from review feedback
  content/terraform-plugin-framework/v1.15.x/docs/plugin/framework/migrating/resources/crud.mdx
  content/terraform-plugin-framework/v1.15.x/docs/plugin/framework/migrating/resources/index.mdx
Owners: @hashicorp/terraform-devex, @hashicorp/terraform-education

Fix link
  content/terraform/v1.12.x/docs/language/block/ephemeral.mdx
Owners: @hashicorp/terraform-education, @hashicorp/terraform-core, @hashicorp/team-docs-packer-and-terraform

More updates from review feedback
  content/terraform-plugin-framework/v1.15.x/docs/plugin/framework/migrating/resources/crud.mdx
Owners: @hashicorp/terraform-devex, @hashicorp/terraform-education

correct parsing error
  content/vault/v1.20.x/redirects.jsonc
Owners: @hashicorp/vault-education-approvers

Apply suggestions from code review
  content/terraform/v1.12.x/data/language-nav-data.json
  content/terraform/v1.12.x/docs/language/block/ephemeral.mdx
  content/terraform/v1.12.x/docs/language/state/sensitive-data.mdx
Owners: @hashicorp/terraform-education, @hashicorp/terraform-core, @hashicorp/team-docs-packer-and-terraform

Add rest of Robin feedback
  content/terraform/v1.12.x/docs/language/block/ephemeral.mdx
Owners: @hashicorp/terraform-education, @hashicorp/terraform-core, @hashicorp/team-docs-packer-and-terraform

`ephemeral` block reference rewrite (#662)
  content/terraform/v1.12.x/data/language-nav-data.json
  content/terraform/v1.12.x/docs/language/block/ephemeral.mdx
  content/terraform/v1.12.x/docs/language/block/output.mdx
  content/terraform/v1.12.x/docs/language/ephemeral/index.mdx
  content/terraform/v1.12.x/docs/language/resources/ephemeral/index.mdx
  content/terraform/v1.12.x/docs/language/resources/ephemeral/write-only.mdx
  content/terraform/v1.12.x/docs/language/state/sensitive-data.mdx
Owners: @hashicorp/terraform-education, @hashicorp/terraform-core, @hashicorp/team-docs-packer-and-terraform

save
  content/vault/v1.20.x/redirects.jsonc
Owners: @hashicorp/vault-education-approvers

Fix the module block link for now
  content/terraform/v1.12.x/docs/language/block/provider.mdx
Owners: @hashicorp/terraform-education, @hashicorp/terraform-core, @hashicorp/team-docs-packer-and-terraform

First try
  content/terraform/v1.12.x/data/language-nav-data.json
  content/terraform/v1.12.x/docs/language/block/data.mdx
  content/terraform/v1.12.x/docs/language/block/provider.mdx
  content/terraform/v1.12.x/docs/language/block/resource.mdx
  content/terraform/v1.12.x/docs/language/meta-arguments/module-providers.mdx
  content/terraform/v1.12.x/docs/language/meta-arguments/resource-provider.mdx
  content/terraform/v1.12.x/docs/language/modules/develop/providers.mdx
  content/terraform/v1.12.x/docs/language/providers/configuration.mdx
  content/terraform/v1.12.x/docs/language/providers/index.mdx
  content/terraform/v1.12.x/docs/language/providers/requirements.mdx
  content/terraform/v1.12.x/docs/language/resources/syntax.mdx
  content/terraform/v1.12.x/docs/language/tests/index.mdx
  content/terraform/v1.12.x/docs/language/v1-compatibility-promises.mdx
Owners: @hashicorp/terraform-education, @hashicorp/terraform-core, @hashicorp/team-docs-packer-and-terraform

Fix small things and ready to review
  content/terraform/v1.12.x/docs/language/block/provider.mdx
Owners: @hashicorp/terraform-education, @hashicorp/terraform-core, @hashicorp/team-docs-packer-and-terraform

Apply suggestions from code review
  content/terraform/v1.12.x/docs/language/block/provider.mdx
  content/terraform/v1.12.x/docs/language/block/resource.mdx
  content/terraform/v1.12.x/docs/language/modules/develop/providers.mdx
Owners: @hashicorp/terraform-education, @hashicorp/terraform-core, @hashicorp/team-docs-packer-and-terraform

Apply suggestions from code review
  content/terraform/v1.12.x/docs/language/block/provider.mdx
Owners: @hashicorp/terraform-education, @hashicorp/terraform-core, @hashicorp/team-docs-packer-and-terraform

Fix link
  content/terraform/v1.12.x/docs/language/block/provider.mdx
Owners: @hashicorp/terraform-education, @hashicorp/terraform-core, @hashicorp/team-docs-packer-and-terraform

Apply suggestions from code review
  content/terraform/v1.12.x/docs/language/block/provider.mdx
Owners: @hashicorp/terraform-education, @hashicorp/terraform-core, @hashicorp/team-docs-packer-and-terraform

Apply suggestions from code review
  content/terraform/v1.12.x/docs/language/block/provider.mdx
Owners: @hashicorp/terraform-education, @hashicorp/terraform-core, @hashicorp/team-docs-packer-and-terraform

Feedback
  content/terraform/v1.12.x/docs/language/block/provider.mdx
  content/terraform/v1.12.x/docs/language/providers/requirements.mdx
Owners: @hashicorp/terraform-education, @hashicorp/terraform-core, @hashicorp/team-docs-packer-and-terraform

Add new usage page
  content/terraform/v1.12.x/data/language-nav-data.json
  content/terraform/v1.12.x/docs/language/parameterize/configure.mdx
  content/terraform/v1.12.x/docs/language/parameterize/index.mdx
  content/terraform/v1.12.x/docs/language/values/locals.mdx
  content/terraform/v1.12.x/docs/language/values/variables.mdx
Owners: @hashicorp/terraform-education, @hashicorp/terraform-core, @hashicorp/team-docs-packer-and-terraform

Fix links
  content/terraform/v1.12.x/docs/cli/commands/import.mdx
  content/terraform/v1.12.x/docs/cli/commands/plan.mdx
  content/terraform/v1.12.x/docs/cli/config/environment-variables.mdx
  content/terraform/v1.12.x/docs/language/block/locals.mdx
  content/terraform/v1.12.x/docs/language/block/output.mdx
  content/terraform/v1.12.x/docs/language/block/variable.mdx
  content/terraform/v1.12.x/docs/language/expressions/references.mdx
  content/terraform/v1.12.x/docs/language/functions/terraform-decode_tfvars.mdx
  content/terraform/v1.12.x/docs/language/functions/terraform-encode_tfvars.mdx
  content/terraform/v1.12.x/docs/language/parameterize/configure.mdx
  content/terraform/v1.12.x/docs/language/tests/index.mdx
Owners: @hashicorp/terraform-education, @hashicorp/terraform-core, @hashicorp/team-docs-packer-and-terraform
