Repository hashicorp/web-unified-docs, changes with the owners that CODEOWNERS names for each.
All owners: @hashicorp/web-devdot, @hashicorp/terraform-devex, @hashicorp/terraform-education, @hashicorp/team-hcpt-agent-engineering, @hashicorp/cdktf, @hashicorp/terraform-core, @hashicorp/team-docs-packer-and-terraform, @hashicorp/terraform-azure, @hashicorp/tf-eco-hybrid-cloud, @hashicorp/terraform-aws, @hashicorp/ptfe-review, @hashicorp/vault-education-approvers

CODEOWNERS:

# Set the default code owner for all files to be the web-presence team
* @hashicorp/web-devdot

# Content CODEOWNERS

# Terraform documentation ownership
/content/terraform-plugin-framework @hashicorp/terraform-devex @hashicorp/terraform-education
/content/terraform-plugin-log @hashicorp/terraform-devex @hashicorp/terraform-education
/content/terraform-plugin-mux @hashicorp/terraform-devex @hashicorp/terraform-education
/content/terraform-plugin-sdk @hashicorp/terraform-devex @hashicorp/terraform-education
/content/terraform-plugin-testing @hashicorp/terraform-devex @hashicorp/terraform-education
/content/terraform-docs-agents @hashicorp/team-hcpt-agent-engineering
/content/terraform-cdk @hashicorp/cdktf

/content/terraform @hashicorp/terraform-education @hashicorp/terraform-core @hashicorp/team-docs-packer-and-terraform
/content/terraform/*/docs/language/backend/azurerm.mdx @hashicorp/terraform-education @hashicorp/terraform-core @hashicorp/team-docs-packer-and-terraform @hashicorp/terraform-azure
/content/terraform/*/docs/language/backend/gcs.mdx  @hashicorp/terraform-education @hashicorp/terraform-core @hashicorp/team-docs-packer-and-terraform @hashicorp/tf-eco-hybrid-cloud
/content/terraform/*/docs/language/backend/kubernetes.mdx  @hashicorp/terraform-education @hashicorp/terraform-core @hashicorp/team-docs-packer-and-terraform @hashicorp/tf-eco-hybrid-cloud
/content/terraform/*/docs/language/backend/s3.mdx  @hashicorp/terraform-education @hashicorp/terraform-core @hashicorp/team-docs-packer-and-terraform @hashicorp/terraform-aws

/content/terraform-docs-common/ @hashicorp/team-docs-packer-and-terraform
/content/terraform-docs-common/docs/plugin/ @hashicorp/terraform-devex 
/content/terraform-docs-common/data/plugin-nav-data.json @hashicorp/terraform-devex

/content/terraform-enterprise @hashicorp/team-docs-packer-and-terraform @hashicorp/ptfe-review


# Vault documentation ownership

/content/vault/                                    @hashicorp/vault-education-approvers

added tfc_only: true to hyok page metadata
  content/terraform-docs-common/docs/cloud-docs/api-docs/hold-your-own-key/aws-oidc-configurations.mdx
  content/terraform-docs-common/docs/cloud-docs/api-docs/hold-your-own-key/azure-oidc-configurations.mdx
  content/terraform-docs-common/docs/cloud-docs/api-docs/hold-your-own-key/gcp-oidc-configurations.mdx
  content/terraform-docs-common/docs/cloud-docs/api-docs/hold-your-own-key/hold-your-own-key.mdx
  content/terraform-docs-common/docs/cloud-docs/api-docs/hold-your-own-key/hyok-configurations.mdx
  content/terraform-docs-common/docs/cloud-docs/api-docs/hold-your-own-key/hyok-customer-key-versions.mdx
  content/terraform-docs-common/docs/cloud-docs/api-docs/hold-your-own-key/hyok-encrypted-data-keys.mdx
  content/terraform-docs-common/docs/cloud-docs/api-docs/hold-your-own-key/vault-oidc-configurations.mdx
Owners: @hashicorp/team-docs-packer-and-terraform

applied feedback from review
  content/terraform/v1.12.x/docs/language/block/module.mdx
  content/terraform/v1.12.x/docs/partials/module-block-source-arg-git-details.mdx
  content/terraform/v1.12.x/docs/partials/provisioner-connnection-settings.mdx
Owners: @hashicorp/terraform-education, @hashicorp/terraform-core, @hashicorp/team-docs-packer-and-terraform

Draft develop application
  content/well-architected-framework/data/docs-nav-data.json
  content/well-architected-framework/docs/docs/automate-and-define-processes/develop-and-deploy/applications/define-security-strategy.mdx
  content/well-architected-framework/docs/docs/automate-and-define-processes/develop-and-deploy/applications/deploy.mdx
  content/well-architected-framework/docs/docs/automate-and-define-processes/develop-and-deploy/applications/development-environment.mdx
  content/well-architected-framework/docs/docs/automate-and-define-processes/develop-and-deploy/applications/index.mdx
  content/well-architected-framework/docs/docs/automate-and-define-processes/develop-and-deploy/applications/infrastructure.mdx
  content/well-architected-framework/docs/docs/automate-and-define-processes/develop-and-deploy/applications/integrate-ci-cd.mdx
  content/well-architected-framework/docs/docs/automate-and-define-processes/develop-and-deploy/applications/monitor.mdx
  content/well-architected-framework/docs/docs/automate-and-define-processes/develop-and-deploy/applications/package.mdx
  content/well-architected-framework/docs/docs/automate-and-define-processes/develop-and-deploy/develop-applications/application-infrastructure.mdx
  content/well-architected-framework/docs/docs/automate-and-define-processes/develop-and-deploy/develop-applications/ci-cd-pipelines.mdx
  content/well-architected-framework/docs/docs/automate-and-define-processes/develop-and-deploy/develop-applications/define-security-strategy.mdx
  content/well-architected-framework/docs/docs/automate-and-define-processes/develop-and-deploy/develop-applications/deploy-applications.mdx
  content/well-architected-framework/docs/docs/automate-and-define-processes/develop-and-deploy/develop-applications/development-environment.mdx
  content/well-architected-framework/docs/docs/automate-and-define-processes/develop-and-deploy/develop-applications/introduction.mdx
  content/well-architected-framework/docs/docs/automate-and-define-processes/develop-and-deploy/develop-applications/monitor.mdx
  content/well-architected-framework/docs/docs/automate-and-define-processes/develop-and-deploy/develop-applications/package-application.mdx
Owners: @hashicorp/web-devdot

fix urls
  content/well-architected-framework/data/docs-nav-data.json
  content/well-architected-framework/docs/docs/automate-and-define-processes/develop-and-deploy/develop-applications/application-infrastructure.mdx
  content/well-architected-framework/docs/docs/automate-and-define-processes/develop-and-deploy/develop-applications/ci-cd-pipelines.mdx
  content/well-architected-framework/docs/docs/automate-and-define-processes/develop-and-deploy/develop-applications/define-security-strategy.mdx
  content/well-architected-framework/docs/docs/automate-and-define-processes/develop-and-deploy/develop-applications/deploy-applications.mdx
  content/well-architected-framework/docs/docs/automate-and-define-processes/develop-and-deploy/develop-applications/development-environment.mdx
  content/well-architected-framework/docs/docs/automate-and-define-processes/develop-and-deploy/develop-applications/introduction.mdx
  content/well-architected-framework/docs/docs/automate-and-define-processes/develop-and-deploy/develop-applications/monitor.mdx
  content/well-architected-framework/docs/docs/automate-and-define-processes/develop-and-deploy/develop-applications/package-application.mdx
  content/well-architected-framework/img/docs/well-architected/app-delivery-cycle-dark.png
  content/well-architected-framework/img/docs/well-architected/app-delivery-cycle.png
  content/well-architected-framework/img/docs/well-architected/app-delivery-roles-dark.png
  content/well-architected-framework/img/docs/well-architected/app-delivery-roles.png
  content/well-architected-framework/img/docs/well-architected/terraform-ops-workflow-dark.png
  content/well-architected-framework/img/docs/well-architected/terraform-ops-workflow.png
  content/well-architected-framework/img/docs/well-architected/waf/app-delivery-cycle-dark.png
  content/well-architected-framework/img/docs/well-architected/waf/app-delivery-cycle.png
  content/well-architected-framework/img/docs/well-architected/waf/app-delivery-roles-dark.png
  content/well-architected-framework/img/docs/well-architected/waf/app-delivery-roles.png
  content/well-architected-framework/img/docs/well-architected/waf/terraform-ops-workflow-dark.png
  content/well-architected-framework/img/docs/well-architected/waf/terraform-ops-workflow.png
Owners: @hashicorp/web-devdot

fix images
  content/well-architected-framework/docs/docs/automate-and-define-processes/develop-and-deploy/develop-applications/application-infrastructure.mdx
  content/well-architected-framework/docs/docs/automate-and-define-processes/develop-and-deploy/develop-applications/ci-cd-pipelines.mdx
Owners: @hashicorp/web-devdot

refresh intro
  content/well-architected-framework/docs/docs/implement-cloud-operating-model.mdx
Owners: @hashicorp/web-devdot

add docs for AES-CBC
  content/vault/v1.21.x/content/api-docs/secret/transit.mdx
Owners: @hashicorp/vault-education-approvers

Updates for vault helm v0.30.1 release
  content/vault/v1.20.x/content/docs/configuration/service-registration/kubernetes.mdx
  content/vault/v1.20.x/content/docs/deploy/kubernetes/helm/configuration.mdx
  content/vault/v1.20.x/content/docs/deploy/kubernetes/helm/enterprise.mdx
  content/vault/v1.20.x/content/docs/deploy/kubernetes/helm/examples/enterprise-dr-with-raft.mdx
  content/vault/v1.20.x/content/docs/deploy/kubernetes/helm/examples/enterprise-perf-with-raft.mdx
  content/vault/v1.20.x/content/docs/deploy/kubernetes/helm/examples/enterprise-with-raft.mdx
  content/vault/v1.20.x/content/docs/deploy/kubernetes/helm/run.mdx
  content/vault/v1.20.x/content/partials/helm/install.mdx
  content/vault/v1.20.x/content/partials/helm/repo.mdx
Owners: @hashicorp/vault-education-approvers

fixed language around when to run init
  content/terraform/v1.12.x/docs/language/block/module.mdx
Owners: @hashicorp/terraform-education, @hashicorp/terraform-core, @hashicorp/team-docs-packer-and-terraform

HYOK docs
  content/terraform-docs-common/docs/cloud-docs/hold-your-own-key/concepts.mdx
  content/terraform-docs-common/docs/cloud-docs/hold-your-own-key/configure.mdx
  content/terraform-docs-common/docs/cloud-docs/hold-your-own-key/index.mdx
  content/terraform-docs-common/img/docs/tfc-hyok-apply-workflow.png
  content/terraform-docs-common/img/docs/tfc-hyok-decrypted-download.png
  content/terraform-docs-common/img/docs/tfc-hyok-dek-generation.png
Owners: @hashicorp/team-docs-packer-and-terraform

Change quote style
  content/terraform-docs-common/docs/cloud-docs/hold-your-own-key/concepts.mdx
  content/terraform-docs-common/docs/cloud-docs/hold-your-own-key/configure.mdx
  content/terraform-docs-common/docs/cloud-docs/hold-your-own-key/index.mdx
Owners: @hashicorp/team-docs-packer-and-terraform

Fix weird hyphen char
  content/terraform-docs-common/docs/cloud-docs/hold-your-own-key/concepts.mdx
  content/terraform-docs-common/docs/cloud-docs/hold-your-own-key/index.mdx
Owners: @hashicorp/team-docs-packer-and-terraform

Add HYOK to nav
  content/terraform-docs-common/data/cloud-docs-nav-data.json
Owners: @hashicorp/team-docs-packer-and-terraform

Add ci cd automate
  content/well-architected-framework/docs/docs/automate-and-define-processes/ci-cd/gitops.mdx
  content/well-architected-framework/docs/docs/automate-and-define-processes/ci-cd/infrastructure/atomic-deployments.mdx
  content/well-architected-framework/docs/docs/automate-and-define-processes/ci-cd/infrastructure/identify-reusable-components.mdx
  content/well-architected-framework/docs/docs/automate-and-define-processes/ci-cd/infrastructure/index.mdx
  content/well-architected-framework/docs/docs/automate-and-define-processes/ci-cd/infrastructure/infrastructure-as-code.mdx
  content/well-architected-framework/docs/docs/automate-and-define-processes/ci-cd/infrastructure/plan-for-scale.mdx
  content/well-architected-framework/docs/docs/automate-and-define-processes/ci-cd/infrastructure/standardize-workflows.mdx
  content/well-architected-framework/docs/docs/automate-and-define-processes/develop-and-deploy/ci-cd/atomic-deployments.mdx
  content/well-architected-framework/docs/docs/automate-and-define-processes/develop-and-deploy/ci-cd/identify-reusable-components.mdx
  content/well-architected-framework/docs/docs/automate-and-define-processes/develop-and-deploy/ci-cd/plan-for-scale.mdx
  content/well-architected-framework/docs/docs/automate-and-define-processes/develop-and-deploy/ci-cd/standardize-workflows.mdx
  content/well-architected-framework/docs/docs/automate-and-define-processes/develop-and-deploy/ci-cd/version-control.mdx
  content/well-architected-framework/docs/docs/automate-and-define-processes/develop-and-deploy/use-infrastructure-as-code/version-control-systems.mdx
  content/well-architected-framework/docs/docs/automate-and-define-processes/team-and-culture/workflows-not-technology.mdx
Owners: @hashicorp/web-devdot

hide identity argument for now
  content/terraform/v1.12.x/data/language-nav-data.json
  content/terraform/v1.12.x/docs/language/block/import.mdx
Owners: @hashicorp/terraform-education, @hashicorp/terraform-core, @hashicorp/team-docs-packer-and-terraform

Apply suggestions from code review
  content/terraform-docs-common/docs/cloud-docs/hold-your-own-key/concepts.mdx
Owners: @hashicorp/team-docs-packer-and-terraform

Apply suggestions from code review
  content/terraform-docs-common/docs/cloud-docs/hold-your-own-key/configure.mdx
Owners: @hashicorp/team-docs-packer-and-terraform

Apply suggestions from code review
  content/terraform-docs-common/docs/cloud-docs/hold-your-own-key/configure.mdx
Owners: @hashicorp/team-docs-packer-and-terraform

first pass at new structure
  content/well-architected-framework/docs/docs/define-and-automate-systems/04-operations/gitops.mdx
Owners: @hashicorp/web-devdot

Ensure docs meet style guide and fix links
  content/terraform-docs-agents/v1.23.x/docs/cloud-docs/agents/request-forwarding.mdx
  content/terraform-docs-common/docs/cloud-docs/hold-your-own-key/concepts.mdx
  content/terraform-docs-common/docs/cloud-docs/hold-your-own-key/configure.mdx
  content/terraform-docs-common/docs/cloud-docs/hold-your-own-key/index.mdx
  content/terraform-docs-common/docs/partials/tfc-package-callouts/hyok.mdx
Owners: @hashicorp/team-hcpt-agent-engineering, @hashicorp/team-docs-packer-and-terraform

Clean up the last of the comments
  content/terraform-docs-common/docs/cloud-docs/hold-your-own-key/concepts.mdx
  content/terraform-docs-common/docs/cloud-docs/hold-your-own-key/configure.mdx
Owners: @hashicorp/team-docs-packer-and-terraform

Document the string:// escape value for indirect value references
  content/vault/v1.19.x/content/docs/configuration/seal/index.mdx
  content/vault/v1.20.x/content/docs/configuration/seal/index.mdx
Owners: @hashicorp/vault-education-approvers

Add documentation for new secret list parameter
  content/vault/v1.21.x/content/api-docs/secret/kv/kv-v2.mdx
Owners: @hashicorp/vault-education-approvers

Update content/terraform/v1.12.x/docs/language/block/import.mdx
  content/terraform/v1.12.x/docs/language/block/import.mdx
Owners: @hashicorp/terraform-education, @hashicorp/terraform-core, @hashicorp/team-docs-packer-and-terraform

terraform: Document JSON output from init
  content/terraform/v1.9.x/docs/cli/commands/init.mdx
  content/terraform/v1.9.x/docs/internals/machine-readable-ui.mdx
Owners: @hashicorp/terraform-education, @hashicorp/terraform-core, @hashicorp/team-docs-packer-and-terraform

Updates from review
  content/terraform-docs-common/docs/cloud-docs/hold-your-own-key/concepts.mdx
  content/terraform-docs-common/docs/cloud-docs/hold-your-own-key/configure.mdx
  content/terraform-docs-common/docs/cloud-docs/hold-your-own-key/index.mdx
Owners: @hashicorp/team-docs-packer-and-terraform

Apply suggestions from code review
  content/terraform-docs-agents/v1.23.x/docs/cloud-docs/agents/request-forwarding.mdx
  content/terraform-docs-common/docs/cloud-docs/hold-your-own-key/concepts.mdx
  content/terraform-docs-common/docs/cloud-docs/hold-your-own-key/configure.mdx
Owners: @hashicorp/team-hcpt-agent-engineering, @hashicorp/team-docs-packer-and-terraform

Apply suggestions from code review
  content/terraform-plugin-framework/v1.15.x/docs/plugin/framework/migrating/benefits.mdx
  content/terraform-plugin-framework/v1.15.x/docs/plugin/framework/migrating/schema/index.mdx
Owners: @hashicorp/terraform-devex, @hashicorp/terraform-education

bucket define processes "as code" together
  content/well-architected-framework/data/docs-nav-data.json
  content/well-architected-framework/docs/docs/define-and-automate-processes/define/app-delivery.mdx
  content/well-architected-framework/docs/docs/define-and-automate-processes/define/as-code/cicd.mdx
  content/well-architected-framework/docs/docs/define-and-automate-processes/define/as-code/database.mdx
  content/well-architected-framework/docs/docs/define-and-automate-processes/define/as-code/index.mdx
  content/well-architected-framework/docs/docs/define-and-automate-processes/define/as-code/infrastructure.mdx
  content/well-architected-framework/docs/docs/define-and-automate-processes/define/as-code/monitoring.mdx
  content/well-architected-framework/docs/docs/define-and-automate-processes/define/as-code/orchestration.mdx
  content/well-architected-framework/docs/docs/define-and-automate-processes/define/as-code/security.mdx
  content/well-architected-framework/docs/docs/define-and-automate-processes/define/as-code/version-control.mdx
  content/well-architected-framework/docs/docs/define-and-automate-processes/define/cloud.mdx
Owners: @hashicorp/web-devdot

update all telemetry with missing seal metrics
  content/vault/v1.20.x/content/docs/internals/telemetry/metrics/all.mdx
Owners: @hashicorp/vault-education-approvers

Agent injector webhook no longer intercepts UPDATE events
  content/vault/v1.17.x/content/docs/platform/k8s/injector/index.mdx
  content/vault/v1.18.x/content/docs/platform/k8s/injector/index.mdx
  content/vault/v1.19.x/content/docs/deploy/kubernetes/injector/index.mdx
  content/vault/v1.20.x/content/docs/deploy/kubernetes/injector/index.mdx
Owners: @hashicorp/vault-education-approvers

removed hold-your-own-key.mdx
  content/terraform-docs-common/data/cloud-docs-nav-data.json
  content/terraform-docs-common/docs/cloud-docs/api-docs/hold-your-own-key/hold-your-own-key.mdx
Owners: @hashicorp/team-docs-packer-and-terraform

grouped configurations in nav
  content/terraform-docs-common/data/cloud-docs-nav-data.json
Owners: @hashicorp/team-docs-packer-and-terraform

Updates from review feedback
  content/terraform-plugin-framework/v1.15.x/docs/plugin/framework/migrating/mux.mdx
  content/terraform-plugin-framework/v1.15.x/docs/plugin/framework/migrating/providers/index.mdx
  content/terraform-plugin-framework/v1.15.x/docs/plugin/framework/migrating/resources/import.mdx
  content/terraform-plugin-framework/v1.15.x/docs/plugin/framework/migrating/schema/index.mdx
  content/terraform-plugin-framework/v1.15.x/docs/plugin/framework/migrating/testing.mdx
Owners: @hashicorp/terraform-devex, @hashicorp/terraform-education

docs: enable Explorer API docs for TFE
  content/terraform-docs-common/docs/cloud-docs/api-docs/explorer.mdx
  content/terraform-docs-common/docs/cloud-docs/workspaces/change-requests/index.mdx
  content/terraform-docs-common/docs/cloud-docs/workspaces/change-requests/manage.mdx
  content/terraform-docs-common/docs/cloud-docs/workspaces/explorer.mdx
Owners: @hashicorp/team-docs-packer-and-terraform

Move providers and schema pages to individual instead of folder
  content/terraform-plugin-framework/v1.15.x/docs/plugin/framework/migrating/providers.mdx
  content/terraform-plugin-framework/v1.15.x/docs/plugin/framework/migrating/schema.mdx
Owners: @hashicorp/terraform-devex, @hashicorp/terraform-education

cleanup and improve oidc docs
  content/terraform-docs-common/docs/cloud-docs/api-docs/hold-your-own-key/aws-oidc-configurations.mdx
  content/terraform-docs-common/docs/cloud-docs/api-docs/hold-your-own-key/azure-oidc-configurations.mdx
  content/terraform-docs-common/docs/cloud-docs/api-docs/hold-your-own-key/gcp-oidc-configurations.mdx
  content/terraform-docs-common/docs/cloud-docs/api-docs/hold-your-own-key/vault-oidc-configurations.mdx
Owners: @hashicorp/team-docs-packer-and-terraform

Cleanup: fixed typos, removed relationships from payloads that shouldn't be present
  content/terraform-docs-common/docs/cloud-docs/api-docs/hold-your-own-key/aws-oidc-configurations.mdx
  content/terraform-docs-common/docs/cloud-docs/api-docs/hold-your-own-key/azure-oidc-configurations.mdx
  content/terraform-docs-common/docs/cloud-docs/api-docs/hold-your-own-key/gcp-oidc-configurations.mdx
  content/terraform-docs-common/docs/cloud-docs/api-docs/hold-your-own-key/hyok-customer-key-versions.mdx
  content/terraform-docs-common/docs/cloud-docs/api-docs/hold-your-own-key/vault-oidc-configurations.mdx
  content/terraform-docs-common/docs/cloud-docs/api-docs/plans.mdx
Owners: @hashicorp/team-docs-packer-and-terraform

Added better infor to hyok encrypted data keys
  content/terraform-docs-common/docs/cloud-docs/api-docs/hold-your-own-key/hyok-encrypted-data-keys.mdx
Owners: @hashicorp/team-docs-packer-and-terraform

updated incorrect response body, added additional info to hyok customer key version
  content/terraform-docs-common/docs/cloud-docs/api-docs/hold-your-own-key/hyok-customer-key-versions.mdx
Owners: @hashicorp/team-docs-packer-and-terraform
